<div>

<h1>Crea una tiendita</h1>

<div>{{error}}</div>


<form action="{{action}}" method="POST">
<p>
  Nombre:
  <input type="text" name="name" value="{{tiendita.name}}">
</p>
<p>
  Giro Comercial:
  <input type="text" name="giro" value="{{tiendita.giro}}">
</p>
<p>
  Owner:
  <input type="text" name="owner" value="{{tiendita.owner}}">
</p>
<button>
  <input type="text" value="Guardar :)">
</button>
</form>
</div>